/* //////////////////SUCESSO 360 e IMAGEM //////////////////*/

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

main > section
{
    justify-content: center;
}

main > section > div > .text1
{
    font-size: 5rem;
    font-style: bold;
    color: #179DD8;
    line-height: 70px;
}

main > section > div > .text2
{
    font-size: 5rem;
    font-style: bold;
    color: #0F2A5D;
    line-height: 70px;
}


main > section > div > p
{
    font-size: 1.2rem;
    color: #0F2A5D;
}

/* //////////////////BOTÃO DE TESTE GRATIS////////////////// */

main > section
{

    display: flex;
    flex: 0.8;
    flex-direction: column;
    align-items: center;
}
main > section > section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    
}

main > section > section > .testegratis
{
    text-align: center;
    font-weight: bold;
    background-color: #3A8B54;
    font-size: 1rem;
    padding: 10px 16px 10px 16px;
    width: 150px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

main > section > section > .saibamais
{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    width: 150px;
    padding: 8px 16px 8px 16px;
    width: 150px;
    border-style: solid;
    border-color: #41B9E8;
    border-radius: 5px;
    color: #41B9E8;
    text-decoration: none;
}


/* //////////////////IMAGEM SALESFORCE////////////////// */

main > div > img
{
    width: 700px;
    align-items: center;
}

/* //////////////////O QUE IREMOS ADICIONAR AINDA //////////////////*/

.future-planes > h1
{
    font-size: 3rem;
    color: #0F2A5D;
    text-align: center;

}

.future-planes > ul
{
    text-align: justify;
    padding: 50px 50px 50px 50px;
}
.future-planes > ul > li
{
    font-size: 1.2rem;
    list-style: none;
    text-align: justify;
    color: #0F2A5D;
    padding-top: 5px;
    width: 1300px;
}

.future-planes > ul > img
{
    width: 600px;
    align-items: center;
    padding-bottom: 5px;
}

.future-planes > ul > li > a
{
    font-weight: bold;
    color: #0F2A5D;
}


