/* //////////////////SUCESSO 360 e IMAGEM //////////////////*/

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

main > section
{
    justify-content: center;
}

main > section > div > .text1
{
    font-size: 5rem;
    font-style: bold;
    color: #179DD8;
    line-height: 70px;
}

main > section > div > .text2
{
    font-size: 5rem;
    font-style: bold;
    color: #0F2A5D;
    line-height: 70px;
}


main > section > div > p
{
    font-size: 1.2rem;
    color: #0F2A5D;
}

/* //////////////////BOTÃO DE TESTE GRATIS////////////////// */

main > section
{

    display: flex;
    flex: 0.8;
    flex-direction: column;
    align-items: center;
}
main > section > section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    
}

main > section > section > .testegratis
{
    text-align: center;
    font-weight: bold;
    background-color: #3A8B54;
    font-size: 1rem;
    padding: 10px 16px 10px 16px;
    width: 150px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

main > section > section > .saibamais
{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    width: 150px;
    padding: 8px 16px 8px 16px;
    width: 150px;
    border-style: solid;
    border-color: #41B9E8;
    border-radius: 5px;
    color: #41B9E8;
    text-decoration: none;
}


/* //////////////////IMAGEM SALESFORCE////////////////// */

main > div > img
{
    width: 700px;
    align-items: center;
}

/* //////////////////O QUE IREMOS ADICIONAR AINDA //////////////////*/

.future-planes > h1
{
    font-size: 3rem;
    color: #0F2A5D;
    text-align: center;

}

.future-planes > ul
{
    text-align: justify;
    padding: 50px 50px 50px 50px;
}
.future-planes > ul > li
{
    font-size: 1.2rem;
    list-style: none;
    text-align: justify;
    color: #0F2A5D;
    padding-top: 5px;
    width: 1300px;
}

.future-planes > ul > img
{
    width: 600px;
    align-items: center;
    padding-bottom: 5px;
}

.future-planes > ul > li > a
{
    font-weight: bold;
    color: #0F2A5D;
}


/* ////////////////// LOGIN  //////////////////*/
.body-login
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    height: 100vh;
}

.body-login > .main-login
{
    flex-direction: column;
    flex: 0.5;
    height: 850px;
}

.body-login > .main-login > .logo-salesforce
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0F2A5D;
}

.body-login > .main-login > .logo-salesforce > a > img
{
    width: 100px;
}

.body-login > .main-login > .logo-salesforce > h2
{
    font-size: 2rem;
}

.body-login > .main-login > .logo-salesforce > p
{
    font-size: 1.4rem;
}


.body-login > .main-login > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0F2A5D;
}

.body-login > .main-login > div > h1
{
    font-size: 3rem;
    color: #3A8B54;
}
.body-login > .main-login > div > p
{
    width: 800px;
    text-align: justify;
    font-size: 1.4rem;
}

.body-login > .main-login > div
{
    flex:2;
}

.body-login > .main-login > div > img
{
    width: 700px;
}


.body-login > aside
{
    display: flex;
    flex: 0.4;
    align-items: center;
    height: 800px;
}

.body-login > aside > div
{
    padding: 50px 10px 50px 10px;
    text-align: center;
    color:#0F2A5D;
    background-color: #D3D3D3;
    border-radius: 50px;
    height: 600px;

}

.body-login > aside > div > h1
{
    padding: 5px 0px 5px 0px;
    font-size: 2rem;
    color:#0F2A5D;
}

.body-login > aside > div > p
{
    padding: 5px 0px 20px 0px;
    font-size: 2rem;
}

.body-login > aside > div > ul
{
    list-style: none;
    font-size: 1.4rem;
    padding: 20px 0px 20px 0px;
}

.body-login > aside > div > a
{
    font-weight: bold;
    background-color: #3A8B54;
    font-size: 1.4rem;
    padding: 10px 16px 10px 16px;
    width: 150px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/*//////////////////suporte/////////////////////*/

.body-suporte
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    height: 100vh;
}

.body-suporte > .main-suporte
{
    flex-direction: column;
    flex: 0.5;
    height: 850px;
}

.body-suporte > .main-suporte > .logo-salesforce
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0F2A5D;
}

.body-suporte > .main-suporte > .logo-salesforce > a > img
{
    width: 100px;
}

.body-suporte > .main-suporte > .logo-salesforce > h2
{
    font-size: 2rem;
    color: #179DD8;
    padding: 0px 0px 10px 0px;
}

.body-suporte > .main-suporte > .logo-salesforce > p
{
    font-size: 1.4rem;
}


.body-suporte > .main-suporte > div > p
{
    width: 800px;
    text-align: justify;
    font-size: 1.4rem;
}

.body-suporte > .main-suporte > div
{
    flex:1;
}

.body-suporte > .main-suporte > div > img
{
    width: 400px;
}


.body-suporte > aside
{
    display: flex;
    flex: 0.4;
    align-items: center;
    height: 800px;
}

.body-suporte > aside > div
{
    padding: 50px 10px 50px 10px;
    text-align: center;
    color:#0F2A5D;
    background-color: #D3D3D3;
    border-radius: 50px;
    height: 650px;

}

.body-suporte > aside > div > h1
{
    padding: 5px 0px 5px 0px;
    font-size: 2rem;
    color:#0F2A5D;
}

.body-suporte > aside > div > p
{
    padding: 5px 0px 20px 0px;
    font-size: 2rem;
}

.body-suporte > aside > div > ul
{
    list-style: none;
    font-size: 1.4rem;
    padding: 20px 0px 20px 0px;
}

.body-suporte > aside > div > a
{
    font-weight: bold;
    background-color: #3A8B54;
    font-size: 1.4rem;
    padding: 10px 16px 10px 16px;
    width: 150px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/* //////////////////ACESSIBILIDADE////////////////// */

.body-acessibilidade
{
    background-color:white;
    height: 100vh;
}


.body-acessibilidade > main
{
    display: flex;
    justify-content:center;
    height: 1000px;
    border-radius: 50px;

}

.body-acessibilidade > main > div
{
    flex: 0.6;
    color:#0F2A5D;
    justify-content: center;
}

.body-acessibilidade > main > div > img
{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px ;
}


.body-acessibilidade > main > div > p
{
    font-size: 1.2rem;
    padding: 0px 0px 15px 0px;
}

.body-acessibilidade > main > div > ul
{
    font-size: 1.2rem;
    padding: 0px 0px 15px 0px;
}

