@import url(main.css);

.main-footer
{
    display: flex;
    background-color: #0F2A5D;
    padding: 20px;
}

.main-footer > .footer-logo
{
    display: flex;
    flex: 0.2;
}

.main-footer > .footer-logo
{
    align-items: center;
    justify-content: center;
}


.main-footer > .footer-logo > ul > a > img
{
    width: 130px;
}


.main-footer > .footer-logo > ul > .title
{
    list-style: none;
    margin-bottom: 10px;
    color: white;
}

.main-footer > .segunda-coluna
{
    flex: 0.4;
}
.main-footer > .segunda-coluna > ul > li
{
    list-style: none;
    color: white;
}

.main-footer > .segunda-coluna > ul > li > a
{
    text-decoration: none;
    color: white;
}

.main-footer > .nomes
{
    color: white;
    font-size: 0.5rem;
}



.main-footer > .segunda-coluna > ul > h3
{
    color: white;
}

.main-footer .title
{
    margin: 15px 0px 0px 0px;
}

/* //////////////////FOOTER - INTEGRANTES//////////////////*/

.footer-integrantes
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: white;
    background-size: cover;
}

.footer-integrantes > p
{
    font-size: 2rem;
    flex: 0.6;
    text-align: center;
    color: #0F2A5D;
}

@media screen and (max-width: 700px)
{
    .main-footer
    {
        background-size: cover;
    }

}

@media screen and (max-width: 500px)
{
    .main-footer
    {
        background-size: cover;
    }

}

