
.header
{
    display: flex;
    padding: 16px 0px;
    justify-content: center;
}

.header > .logo > a 
{
    display: flex;
}

.header > .logo > a > img
{
    flex: 1;
    width: 68px;
    height: 48.03;
}

.header > .left-links
{
    display: flex;
    flex: 0.9;
    align-items: center;
}

.header > .left-links > ul
{
    display: flex;
    list-style-type: none;
    font-weight: bold;
}

.header > .left-links > ul > li
{
    padding: 0px 16px 0px 16px ;
}

.header > .left-links > ul > li > a
{
    text-decoration: none;
    color: #0F2A5D;
    justify-content: space-between;
}

.header > .right-links
{
    display: flex;
    align-items: center;
}

.header > .right-links > ul
{
    display: flex;
    flex-direction: row;
    margin: 0px 19x 0px 0px;
    list-style-type: none;
}

.header > .right-links > ul > li
{
    padding: 0px 16px 0px 16px ;
}

.header > .right-links > ul > li > a
{
    text-decoration: none;
    color: #0F2A5D;
    font-weight: bold;
}

.header > .right-links > ul > li > .login
{
    font-weight: bold;
    background-color: #3A8B54;
    font-size: 1rem;
    padding: 10px 16px 10px 16px;
    width: 150px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/* //////////////////PÃGINA INTEGRANTES//////////////////*/

/* //////////////////HEADER//////////////////*/

body > .header-integrantes
{
    display: flex;
    background-color: #41B9E8;
    background-size: cover;
    height: 400px;
    justify-content: center;
    align-items: center;


}

body > .header-integrantes > .logo-salesforce
{
    flex: 15.1;
    display: flex;
    justify-content: center ;

}

body > .header-integrantes > .logo-salesforce > a > img
{
    width: 250px;
}

body > .header-integrantes > .title-integrantes
{
    flex: 20;

}

body > .header-integrantes > .title-integrantes > h1
{
    font-size: 5rem;
    color: white;
}

/* //////////////////MAIN//////////////////*/

.main-integrantes
{
    align-items: center;
    background-color: white;
    background-size: cover;
}

.main-integrantes > .diego-costa
{
    display: flex;
    flex-direction: column;
}

.main-integrantes > .diego-costa > h1
{
    font-size: 3rem;
    color:#0F2A5D;
}

.main-integrantes > .diego-costa > img
{
   width: 350px;
   border-radius: 1000px;
}

.main-integrantes > .marcelo-mendes
{
    display: flex;
    flex-direction: column;
}

.main-integrantes > .marcelo-mendes > img
{
   width: 350px;
   border-radius: 1000px;
}

.main-integrantes > .marcelo-mendes > h1
{
    font-size: 3rem;
    color:#0F2A5D;
}

.main-integrantes > .lucas-minozzo
{
    display: flex;
    flex-direction: column;
}

.main-integrantes > .lucas-minozzo > img
{
   width: 350px;
   border-radius: 1000px;
}

.main-integrantes > .lucas-minozzo > h1
{
    font-size: 3rem;
    color:#0F2A5D;
}
