@import url(font.css);
@import url(header.css);
@import url(body.css);
@import url(footer.css);

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Jost', sans-serif;
    font-size: 62,5%;
    background-color: white;
    font: #0F2A5D;

}

